@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Noto+Sans+KR&family=Open+Sans&display=swap');

*{box-sizing: border-box;}
body{font-family: 'Noto Sans KR', sans-serif;}
main{background: #fff;}

/* 공통속성 */
.container{width: 1180px;height: inherit;margin: 0 auto;/* background: rgba(0, 0, 0, 0.5); */}

/* 스와이퍼 공통속성 1900px로 만듬 */
.swiper_wrap{width: 1950px;height: 1000px;margin: 0 auto;}

/* video 공통속성 1900px로 만듬 */
#video{width: 100%;height: 100%;margin: 0 auto;background: rgb(255, 255, 255);}
#mainVideo{vertical-align: bottom;}

/* banner 공통속성 1900px로 만듬 */
.main_banner{width: 100%;height: inherit;margin: 0 auto;background: rgb(255, 255, 255);}

/* footer 공통속성 1900px로 만듬 */
.main_footer{width: 100%;height: inherit;margin: 0 auto;background: rgb(255, 255, 255);}
.footer_wrap{width: 100%;height: inherit;}
/* 레이아웃 */
#header{width: 100%;height: 100px;background: #343436;position: fixed;left: 0;top: 0;z-index: 999;}



/* header */
.header_inner{position: relative;}
.header_inner .header_inner_flex{display: flex;height: 100px;align-items: center;}
.header_inner h1{margin-right:4%;}

.header_inner #nav{position: relative;z-index: 2;}
.header_inner #nav ul{display: flex;}
.header_inner #nav ul>.first_li{padding: 15px 15px;position: relative;top: 0;left: 0;}
.header_inner #nav > ul > li > a{position: relative; padding: 30px 0 37px 0; font-size: 19px;color: #fff;display: block;}
.header_inner #nav > ul > li > a:after{position: absolute; width: 0; height:2px; content: ""; background: red; left: -100%; bottom: 30px; transition: .3s; }
.header_inner #nav > ul > li:hover > a:after{ width: 100%;left: 0;}
.header_inner #nav ul .first_li{padding-bottom: 10px;}
.header_inner #nav  ul  .first_li ul li a .ico-best{padding-left: 10px;position: absolute;right: 40px;top: 22px;}
.header_inner #nav  ul  .first_li ul li a .ico-new{padding-left: 10px;position: absolute;right: 70px;top: 22px;}
.header_inner #nav ul li ul{position: absolute;left: -10px;flex-direction: column;background: rgba(0, 0, 0, 1);width: 200px;padding-left: 20px;display: none;}
.header_inner #nav ul li:nth-child(2) ul{width: 300px;}
.header_inner #nav ul li:nth-child(3) ul{width: 220px;}
.header_inner #nav ul li ul li{text-align: left;padding: 20px 15px;position: relative;top: 0;left: 0;}
.header_inner #nav ul> li> ul> li> a{display: block;font-size: 14px;color: #fff;}
.header_inner #gnb{display: flex;position: absolute;right: 0;top: 40px;}
.header_inner #gnb>.gnbchild{position: relative;display: flex;}
.header_inner #gnb ul li{margin-right:26.3px;}
.header_inner #gnb ul li:last-child{margin-right:0px;}
.header_inner #gnb ul li a{color: #999999;font-size: 14px;}
.header_inner #gnb ul .join{background: #555555;padding: 7px 20px;}
.mobile_header{display: none;}

/* swiper 옵션변경 */

/* 
div>.swiper-button-prev::after{background: url(../outbackimage/btn_main_visual_prev_on.png) no-repeat ;}

div>.swiper-button-next:after{background: url(../outbackimage/btn_main_visual_next_on.png) no-repeat ;} */

/* main banner section3 */
.main_banner .banner_img ul>li{position: relative; width: 100%}
.main_banner .banner_img ul>li>a>img{vertical-align: bottom;}
.main_banner .banner_img ul>li>a>h2{position: absolute;top: 100px;left: 0;color: #fff;width: 100%;text-align: center;font-size: 54px;letter-spacing: 2.16px;}
.main_banner .banner_img ul>li>a>span{position: absolute;top: 180px;left: 0;color: #fff;width: 100%;text-align: center;font-size: 16px;opacity: 0.7;}
.main_banner .banner_img ul>li>ul{display: flex;width: 100%;justify-content: space-between; background: url(../outbackimage/main_benefit_visual.jpg) no-repeat; height: 520px;  padding: 0;}
.main_banner .banner_img ul>li>ul>li{margin: 300px 0; text-align: center;} 
.main_banner .banner_img ul>li>ul>li>h2{font-size: 28px;} 
.main_banner .banner_img ul>li>ul>li>span{font-size: 14px;opacity: 0.7;} 
.main_banner .banner_img ul>li>ul>li>a>h3{color: #fff;margin-top: 20px;font-size: 28px;}
.main_banner .banner_img ul>li>ul>li>a>em{color: #fff;font-size: 14px;opacity: 0.7;}


/* main banner section4 */
.section4 .main_banner .container{display: flex;position: relative;}
.section4 .main_banner .reward-title{position: absolute;top: 100px;left: 0;width: 280px;height: 260px;}
.section4 .main_banner .reward-title .txt_data h3{color: #222;font-size: 22px;line-height: 52px;letter-spacing: -1.92px;}
.section4 .main_banner .reward-title .txt_data h3 em{display: block;font-size: 42px;letter-spacing: -3.12px;}
.section4 .main_banner .reward-title .txt_data .info{margin-top: 20px;color: #666;font-size: 12px;line-height: 24px;margin-bottom: 20px;}
.section4 .main_banner .reward-title .txt_data .btn-more a{display: block;width: 100px;height: 32px;color: #fff;font-size: 13px;line-height: 32px;background: #222;text-align: center;}
.section4 .main_banner .reward-title .line span{position: absolute;display: block;background-color: #222;z-index: 1;}
.section4 .main_banner .reward-title .line span:nth-child(1){top: 0;right: 0;width:30%;height:5px;}
.section4 .main_banner .reward-title .line span:nth-child(2){top: 0;right: 0;width: 5px;height:100%;}
.section4 .main_banner .reward-title .line span:nth-child(3){right: 0;bottom: 0;width: 100%;height:5px;}
.section4 .main_banner .reward-title .line span:nth-child(4){left: 0;bottom: 0;width: 5px;height: 10%;}
.section4 .main_banner .container ol{display: flex; flex-wrap: wrap;align-items: center;}
.section4 .main_banner .container ol li{width: 25.333%;margin-top: 2px;position: relative;top: 81px;left: 350px;}
.section4 .main_banner .container ol li:nth-child(4){margin-top: -210px;}
.section4 .main_banner .container ol li:nth-child(5){margin-top: -210px;}
.section4 .main_banner .container ol li:nth-child(6){margin-top: -210px;}
.section4 .main_banner .container ol li em{font-size: 16px;color: #96603d;opacity: 0.4;}
.section4 .main_banner .container ol li p.reward-name{margin-top: 10px;color: #222;font-size: 18px;font-weight: 500;}
.section4 .main_banner .container ol li p.reward-info{height: 300px;margin-top: 10px;color: #666;font-size: 14px;line-height: 21px;overflow: hidden;}

/* main banner section5 */
.section5 .main_banner .container{position: relative;}
.speed-big-menu > li > a > span{display: block;}
.speed-big-menu > li > a {position: relative;}
.speed-big-menu > li > a > span> img{max-width: 100%;transition: .3s;}
.speed-big-menu > li:hover > a > span> img.icon{margin-top: -20px;}
.speed-big-menu > li:hover > a > span.arrow{scale: 1.2;transform-origin: 0 100%;}
.speed-big-menu > li > a > span> .icon{position: absolute;top: 44px;right: 70px;}
.section5 .main_banner .container .speed-big-menu{display: flex;width: 100%;height: 200px;padding-bottom: 50px;}
.section5 .main_banner .container .speed-big-menu li{width: 33.3333%;}
.section5 .main_banner .container .speed-big-menu li.menu02{background: #907354;}
.section5 .main_banner .container .speed-big-menu li.menu03{background: #434343;}
.section5 .main_banner .container .speed-big-menu li.menu04{background: #c30606;}
.section5 .main_banner .container .speed-big-menu li a{position: relative;display: block;height: 160px;padding: 30px;margin-left: 1px;background-repeat: no-repeat;background-position: center center;background-size: cover;box-sizing: border-box;}
.section5 .main_banner .container .speed-big-menu li a .txt{color: #fff;font-size: 14px;line-height: 20px;}
.section5 .main_banner .container .speed-big-menu li a .arrow{position: absolute;bottom: 37px;left: 30px;width: 40px;height: 4px;background: url(../outbackimage/speed_menu_arrow.png) right bottom -1px no-repeat;border-bottom: 1px solid #fff;transform: scale(1);transition: .3s;}


/* footer brand footer1 */
.footer1 .main_footer{border-top: 1px #e5e5e5 solid;}
.footer1 .main_footer .container{position: relative;}
.footer1 .main_footer .container .bottom-brand-list{width: 100%;padding: 30px 0 50px;background:#fff;}
.footer1 .main_footer .container .bottom-brand-list ul{width: 100%;margin: 0 auto;font-size: 0;display: flex;justify-content: space-between;}
.footer1 .main_footer .container .bottom-brand-list ul li{position: relative; text-align: center; width: 16.6666%}
.footer1 .main_footer .container .bottom-brand-list ul li::after{content: "";display: block;position: absolute; width: 1px;height: 20px;top: 50%;transform: translateY(-50%);background: #e4e4e4;}
.footer1 .main_footer .container .bottom-brand-list ul li:first-child:after{content: "";display: none;position: absolute; width: 1px;height: 20px;top: 50%;transform: translateY(-50%);background: #e4e4e4;}
.footer1 .main_footer .container .bottom-brand-list ul li a img{max-width: 100%;}

/* footer topbutton footer2 */
.footer2 .footer_wrap{position: relative;}

#topBtn {
  display: none; /* Hide the button by default */
  position: absolute; /* Fixed position at the bottom of the page */
  bottom: 0px;/* Place the button 20px from the bottom */
  right: 0px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure the button is on top of other elements */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #000000; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover *//* Add some padding */
}

/* footer information footer3 */
.footer3{width: 100%; height: 300px; background: #232323;}
.footer3 .footer_wrap .main_footer1 .container{position: relative;color: #646464;}
.footer3 .footer_wrap .main_footer1 .container .footer-menu{display: flex;position: absolute;top: 40px;right: 10px;justify-content: center;}
.footer3 .footer_wrap .main_footer1 .container .footer-menu li{position: relative;margin:0 5px;}
.footer3 .footer_wrap .main_footer1 .container .footer-menu li::after{content: "";display: block;position: absolute; width: 1px;height: 12px;top: 50%;transform: translateY(-50%);background: #ddd;right: -7px;}
.footer3 .footer_wrap .main_footer1 .container .footer-menu li:last-child:after{display: none;}
.footer3 .footer_wrap .main_footer1 .container .footer-menu li a{font-size: 14px;color: #646464;}
.footer3 .footer_wrap .main_footer1 .container .footer-left-menu{display: flex;position: absolute;top: 50px;left: 20px;width: 500px;}
.footer3 .footer_wrap .main_footer1 .container .footer-left-menu .btns a{border: 1px solid #4f4f4f;text-align: center;padding: 5px 5px;color: #646464;}
.footer3 .footer_wrap .main_footer1 .container .footer-left-menu .family-site select{padding: 2.5px 4px; margin-left: 5px;border: 1px solid #4f4f4f;margin-top: -4px;color: #646464;background: #232323;}
.footer3 .footer_wrap .main_footer1 .container .information{position: absolute;top: 100px;left: 20px;}
.footer3 .footer_wrap .main_footer1 .container .information .footer-text p span{position: relative;margin:0 5px;}
.footer3 .footer_wrap .main_footer1 .container .information .footer-text p span:after{content: "";display: block;position: absolute; width: 1px;height: 12px;top: 50%;transform: translateY(-50%);background: #ddd;right: -7px;}
.footer3 .footer_wrap .main_footer1 .container .information .footer-text p span:last-child:after{display: none;}
.footer3 .footer_wrap .main_footer1 .container .information .footer-text .btn-toast-pop{text-decoration: underline;color: #646464;margin-left: 5px;}
.footer3 .footer_wrap .main_footer1 .container .sns-menu{display: flex;position: absolute;top: 110px;right: 16px;}
.footer3 .footer_wrap .main_footer1 .container .sns-menu li{margin-left: 14px;}

/* media screen 스크롤 안생기게 하는 역할을 한다. 없으면 스크롤 생긴다. 좌우로 줄일시에 */
/* container만큼 크기를 맞춰줘야 좌우로 줄였을 시에 container크기만큼 줄어도 스크롤이 생기지 않고 줄어든다. */
@media screen and (max-width: 2500px) {
    .swiper_wrap{width: 100%;}
    .video{width: 100%;}
    #mainVideo{width: 100%;}
    
}
@media screen and (max-width: 1650px) {
  .footer_wrap{width: 100%;}
}

@media screen and (max-width: 1280px) {
  #topBtn{bottom: 283px;}
}

@media screen and (max-width: 1198px) {
#header{padding: 0 20px;box-sizing: border-box;}
.container{width: 100%;}
.section4 .main_banner .reward-title{scale: 0.8;}
.section4 .main_banner .container ol{display: flex; flex-wrap: wrap;}
.section4 .main_banner .container ol li{width: 25.333%;margin-top: 2px;position: relative;top: 81px;left: 300px;}
}

@media screen and (max-width: 1180px) {
    .container{width: 100%;}
    #header{padding: 0 20px;box-sizing: border-box;}
    #gnb .gnbchild{z-index: 9999;}
    .swiper_wrap{width: 100%;}
    .header_inner #gnb ul{top: -32px;}
    .header_inner #nav .navchild li:last-child{margin-right:0;}
    .header_inner .header_inner_flex{justify-content: space-between;}
}

@media screen and (max-width: 1140px) {
  #header{padding: 0 20px;box-sizing: border-box;}
  .container{width: 100%;}
  .section4 .main_banner .reward-title{scale: 0.7;}
  .section4 .main_banner .container ol{display: flex; flex-wrap: wrap;}
  .section4 .main_banner .container ol li{width: 25.333%;margin-top: 2px;position: relative;top: 81px;left: 280px;}
}

@media screen and (max-width: 1130px) {
  .footer3 .footer_wrap .main_footer1 .container .footer-menu{display: none;}
  .footer3 .footer_wrap .main_footer1 .container .sns-menu{top: 234px;right: 100px;}
}

@media screen and (max-width: 1120px) {
  #header{padding: 0 20px;box-sizing: border-box;}
  .container{width: 100%;}
  .section4 .main_banner .reward-title{display: none;}
  .section4 .main_banner .container ol li{width: 25.333%;margin-top: 2px;position: relative;top: 81px;left: 120px;padding: 0 50px; box-sizing: border-box;}
}

@media screen and (max-width: 1060px) {
  #header{padding: 0 20px;box-sizing: border-box;}
  .container{width: 100%;}
  .section4 .main_banner .reward-title{display: none;}
  .section4 .main_banner .container ol li p.reward-info{height: 139px;}
  .section4 .main_banner .container ol li{width: 50%;margin-top: 45px;position: relative;top: 0px;left: 0px;padding: 0 22px; box-sizing: border-box;text-align: center;}
  .section4 .main_banner .container ol li:nth-child(4){margin-top: 0px;}
  .section4 .main_banner .container ol li:nth-child(5){margin-top: 0px;}
  .section4 .main_banner .container ol li:nth-child(6){margin-top: 0px;}
}

@media screen and (max-width: 1000px) {
  .section5 .main_banner .container .speed-big-menu{display: flex;flex-wrap: wrap;}
  .section5 .main_banner .container .speed-big-menu li{width: 50%;}
  .section5 .main_banner .container .speed-big-menu li.menu03{display: none;}

  .footer1 .main_footer .container .bottom-brand-list ul{display: flex; flex-wrap: wrap;}
  .footer1 .main_footer .container .bottom-brand-list ul li{position: relative; text-align: center; width: 16.6666%;scale: 0.95;}
}

@media screen and (max-width: 950px) {
  .footer1 .main_footer .container .bottom-brand-list ul{display: flex; flex-wrap: wrap;}
  .footer1 .main_footer .container .bottom-brand-list ul li{position: relative; text-align: center; width: 33.3333%;scale: 0.9;}
  .footer1 .main_footer .container .bottom-brand-list ul li:nth-child(4){margin-top: 30px;}
  .footer1 .main_footer .container .bottom-brand-list ul li:nth-child(5){margin-top: 30px;}
  .footer1 .main_footer .container .bottom-brand-list ul li:nth-child(6){margin-top: 30px;}

  #topBtn{bottom: 0px;right: 0;}
}

@media screen and (max-width: 850px) {
    #header{width: 100%;height: 100px;background: #343436;padding: 0 20px;box-sizing: border-box;}
    #header .container{background: #343436;}
    .header_inner {display: none;}
    .mobile_header{display: block;height: 100px;width: 100%;}
    .mobile_header ul{display: flex; height: 100px;align-items: center;justify-content: space-between;}
    .mobile_header>ul>li:first-child{width: 26px;height: 16px;}
    .mobile_header>ul>li:first-child .app-btn{width: 26px;height: 16px;display: block;position: relative;}
    .mobile_header ul li .app-btn .bar{width: 100%;height: 2px;background: #555;display: block;position: absolute;top: 0;left: 0;}
    .mobile_header ul li .app-btn .bar1{top: 0;}
    .mobile_header ul li .app-btn .bar1.add{top: 50%;transform: rotate(45deg);margin-top: -1px;}
    .mobile_header ul li .app-btn .bar2{top: 50%;}
    .mobile_header ul li .app-btn .bar2.add{opacity: 0;}
    .mobile_header ul li .app-btn .bar3{top: 100%;}
    .mobile_header ul li .app-btn .bar3.add{top: 50%;transform: rotate(-45deg);margin-top: -1px;}
    .mobile_header ul li .mobile-nav{position: absolute;top: 100px;width: 100%;left: 0;display: none;height: 300px;}
    .mobile_header ul li .mobile-nav li{height: 50px;border-bottom: 1px solid #ddd;background: rgba(0, 0, 0, 0.8);line-height: 50px;text-align: center;}
    .mobile_header ul li .mobile-nav li a{color: #ebebeb;}
    .mobile_header ul li .mobile-find-btn{font-size: 24px;color: #555;}

    .footer1 .main_footer .container .bottom-brand-list ul{display: flex; flex-wrap: wrap;}
    .footer1 .main_footer .container .bottom-brand-list ul li{position: relative; text-align: center; width: 33.3333%;scale: 0.9;}
    .footer1 .main_footer .container .bottom-brand-list ul li:nth-child(4){margin-top: 30px;}
    .footer1 .main_footer .container .bottom-brand-list ul li:nth-child(5){margin-top: 30px;}
    .footer1 .main_footer .container .bottom-brand-list ul li:nth-child(6){margin-top: 30px;}
}

@media screen and (max-width: 800px) {
  #header{width: 100%;height: 100px;background: #343436;padding: 0 20px;box-sizing: border-box;}
  #header .container{background: #343436;}
  .header_inner {display: none;}
  .mobile_header{display: block;height: 100px;width: 100%;}
  .mobile_header ul{display: flex; height: 100px;align-items: center;justify-content: space-between;}
  .mobile_header>ul>li:first-child{width: 26px;height: 16px;}
  .mobile_header>ul>li:first-child .app-btn{width: 26px;height: 16px;display: block;position: relative;}
  .mobile_header ul li .app-btn .bar{width: 100%;height: 2px;background: #555;display: block;position: absolute;top: 0;left: 0;}
  .mobile_header ul li .app-btn .bar1{top: 0;}
  .mobile_header ul li .app-btn .bar1.add{top: 50%;transform: rotate(45deg);margin-top: -1px;}
  .mobile_header ul li .app-btn .bar2{top: 50%;}
  .mobile_header ul li .app-btn .bar2.add{opacity: 0;}
  .mobile_header ul li .app-btn .bar3{top: 100%;}
  .mobile_header ul li .app-btn .bar3.add{top: 50%;transform: rotate(-45deg);margin-top: -1px;}
  .mobile_header ul li .mobile-nav{position: absolute;top: 100px;width: 100%;left: 0;display: none;height: 300px;}
  .mobile_header ul li .mobile-nav li{height: 50px;border-bottom: 1px solid #ddd;background: rgba(0, 0, 0, 0.8);line-height: 50px;text-align: center;}
  .mobile_header ul li .mobile-nav li a{color: #ebebeb;}
  .mobile_header ul li .mobile-find-btn{font-size: 24px;color: #555;}
  .container{width: 100%;}

  .section4 .main_banner .container ol li{width: 33.3333%;margin-top: 2px;position: relative;top: 40px;left: 0px; box-sizing: border-box;}
  .section4 .main_banner .container ol li:nth-child(4){margin-top: 0px;}
  .section4 .main_banner .container ol li:nth-child(5){margin-top: 0px;}
  .section4 .main_banner .container ol li:nth-child(6){margin-top: 0px;}
  .section5 .main_banner .container .speed-big-menu{display: flex;flex-wrap: wrap;}
  .section5 .main_banner .container .speed-big-menu li{width: 100%;}
  .section5 .main_banner .container .speed-big-menu li.menu02{display: block;}
  .section5 .main_banner .container .speed-big-menu li.menu03{display: block;}
  .section5 .main_banner .container .speed-big-menu li.menu04{display: block;}

  .footer1 .main_footer .container{position: relative;top: 280px;left: 0px;}
  .footer1 .main_footer .container .bottom-brand-list{padding: 50px 0 50px;}

  #topBtn{bottom: -170px;right: -5px;scale: 0.75;}

  .footer3{position: relative;top: 280px;left: 0px;}
  .footer3 .footer_wrap .main_footer1 .container .information{scale: 0.8;}
  .footer3 .footer_wrap .main_footer1 .container .footer-left-menu{scale: 0.8;left: 36px;top: 60px;}
}

@media screen and (max-width: 650px) {
  .footer3 .footer_wrap .main_footer1 .container .information .footer-text p span:after{display: none;}
  .footer3 .footer_wrap .main_footer1 .container .information .footer-text p a.btn-toast-pop{display: block;}
  .footer3 .footer_wrap .main_footer1 .container .footer-left-menu{left: 25px;top: 70px;}
  }

@media screen and (max-width: 600px) {
.section4 .main_banner .container ol{position: relative;top: -5px;left: 0px;padding: 0 100px;box-sizing: border-box;}
.section4 .main_banner .container ol li{width: 100%;}
.section4 .main_banner .container ol li em{font-size: 12px;color: #96603d;opacity: 0.4;}
.section4 .main_banner .container ol li p.reward-name{margin-top: 0px;color: #222;font-size: 12px;font-weight: normal;}
.section4 .main_banner .container ol li p.reward-info{height: 159px;margin-top: 10px;color: #666;font-size: 14px;line-height: 21px;overflow: hidden;}
.footer3 .footer_wrap .main_footer1 .container .footer-left-menu{left: 25px;top: 70px;}
}

/* <!-- swiperslider Demo styles --> */

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 200px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}


